* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    background-color: #326fc9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5vw 2vw 5vw;
}

.logo {
    width: 10vw;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    background-image: url("https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/logo.png");
    background-size: cover;
    background-position: center;
    background-color: blue;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5vw;
    font-size: 3vw;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    color: red;
    background-color: #2d365a;
    border-radius: 10%;
}

.bg1 { 
    background-image: url("https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/Bg1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 100svw;
}

.bg2 {
    background-image: url('https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;  
    height: 100vh;      
}

.bg3 {
    background-image: url('https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/file_0000000051b8622fa14e17f7013b0670.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;  
    height: 100vh;      
}

.bg4 {
    background-image: url('https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/file_00000000a95061f9af35e49857c563c6%20(1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;  
    height: 100vh;      
}

/* --- TEKS STYLE --- */
.teks1 {
    padding: 20vw 0 0 3vw;
    color: white;
    font-size: 6vw;
    max-width: 85%;
    text-align: left;
    text-shadow: 2px 2px 5px black;
}

.teks2 {
    padding: 5vw 0 0 3vw;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    animation: muncul 1s forwards;
    opacity: 0;
    font-size: 3vw;
}

.teks3 {
    padding: 20vw;
    color: white;
    font-size: 6vw;
    max-width: 85%;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.teks4 {
    padding: 5vw 0 0 3vw;
    color:white;
    font-size: 4vw;
    text-align: left;
    max-width: 90%;
    opacity: 0;
    animation: kirikanan 1.5s ease-out forwards;
    animation-delay: 0.5s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.oli {
    list-style: disc;      
    padding-top: 20px;
    padding-left: 5px; 
    margin-bottom: 5px;    
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    color:white;
    font-size: 4vw;
    text-align: left;
    max-width: 90%;
    opacity: 0;
    animation: kirikanan 1.5s ease-out forwards;
    animation-delay: 1.3s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.teks5 {
    list-style: disc;      
    padding-top: 20px;
    padding-left: 35px; 
    margin-bottom: 5px;    
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    color:white;
    font-size: 4vw;
    text-align: left;
    max-width: 80%;
    opacity: 0;
    animation: kirikanan 1.5s ease-out forwards;
    animation-delay: 1.3s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.skills {
    list-style: disc;      
    padding-top: 25vw;
    padding-left: 2vw; 
    margin-left: 3vw;
    margin-bottom: 5px;    
    display: flex;
    justify-content: space-between;
    font-size: 6vw;
    gap: 5vw;
    color:white;
    text-align: left;
    max-width: 90%;
    opacity: 0;
    animation: kirikanan 3.5s ease-out forwards;
    animation-delay: 2.3s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.teks6 {
    padding: 10vw;
    color: white;
    font-size: 10vw;
    max-width: 85%;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.teks7 {
    margin-top: 20vw;
    padding-left: 5vw; 
    display: flex;
    align-items: center;
    gap: 10vw;
    color:white;
    font-size: 3vw;
    text-align: left;
    max-width: 90%;
    opacity: 0;
    animation: kirikanan 4.5s ease-out forwards;
    animation-delay: 1.3s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.teks7 h3 {
    font-size: 7vw;
}

.teks7 li {
    text-shadow: 2px 2px 5px black;
    font-size: 7vw;
}

.teks8 {
    padding-top: 10vw;
    padding-bottom: 10vw;
    margin-left: 5vw;
    color: white;
    font-size: 10vw;
    max-width: 85%;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

legend {
    color: white;
    font-size: 7vw;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

legend {
    color: white;
    font-size: 7vw;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

fieldset {
    padding: 5vw;
    margin: 3vw;
}

label {
    color: white;
    font-size: 5vw;
    text-shadow: 2px 2px 5px black;
}

.form span {
    color: white;
    font-size: 4vw;
    text-shadow: 2px 2px 5px black;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
}

.output-box {
    border: 1px solid #aaa;
    padding: 1vw;
    margin: 0 wvw 0 2vw;
    width: 80vw;
    height: 30vw;
    background-color: #fff;
    color: black;
    
}

button {
    width: 83vw;
    background-color: #004f86;
    padding: 10px;
    border-radius: 10%;
    color: white;
    font-size: 4vw;
    cursor: pointer;
}

button:hover {
    background-color: #006bbd;
}


.titik2 {
    padding-left: 19vw;
}

.titik1 {
    padding-left: 2.5vw;
}

footer {
    background-color: #0081ff;
    height: 12vw;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-top: 3vw;
}

@keyframes kirikanan {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes muncul {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* --- RESPONSIVE UNTUK LAYAR LEBAR --- */
@media screen and (min-width: 1024px) {
    /* --- TEKS --- */
    .teks1 {
        font-size: 3vw;
        padding: 10vw 0 0 5vw;
        max-width: 60%;
    }

    .teks2 {
        font-size: 1.5vw;
        padding: 2vw 0 0 5vw;
    }

    .teks3 {
        font-size: 3vw;
        padding: 10vw 0 2vw 0;
    }

    .teks4, .teks5, .oli {
        font-size: 1.3vw;
        max-width: 70%;
        padding: 1vw 5vw;
    }

    .skills {
        font-size: 2vw;
        padding-top: 8vw;
        padding-left: 10vw;
    }

    .teks6 {
        font-size: 3vw;
        padding: 5vw 0 2vw 0;
    }

    .teks7 {
        font-size: 1.5vw;
        margin-top: 5vw;
        padding-left: 10vw;
        gap: 5vw;
    }

    .teks7 h3 {
        font-size: 2vw;
    }

    .teks7 li {
        font-size: 1.5vw;
    }

    .teks8 {
        font-size: 3vw;
        padding-top: 5vw;
    }

    legend {
        font-size: 2vw;
    }

    label {
        font-size: 1.2vw;
    }

    .form span {
        font-size: 1vw;
    }

    textarea {
        min-height: 150px;
        font-size: 1vw;
    }

    button {
        width: 20vw;
        font-size: 1vw;
    }

    .output-box {
        width: 40vw;
        height: 15vw;
        font-size: 1vw;
        display: flex;
        justify-content: space-between;
        gap: 2vw;
    }

    footer {
        height: 5vw;
    }

    footer p {
        font-size: 1vw;
        padding-top: 1vw;
    }
}
